<%= form_for @post, url: {action: 'create', controller: 'posts'} do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit "Add Tweet" %>
<% end %>

<div class="container">
  <% if @posts %>
    <%= render @posts %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <p>
          There is nothing to show, start following some people.
        </p>
      </div>
    </div>
  <% end %>
</div>
