<% comments ||= false %>
<% reply ||= false %>

<div class="panel panel-default">
  <% if post.reply_to %>
    <div class="panel-heading">
      <span>In reply to:</span>
      <strong><%= link_to post.reply_to.user.visible_name, user_path(post.reply_to.user.username) %></strong>
      <span><%= link_to "@#{post.reply_to.user.username}", user_path(post.reply_to.user.username) %></span>
      <span><%= display_date(post.reply_to.created_at) %></span>
      <div>
        <% if post.reply_to.image.exists? %>
          <div class="pull-left">
            <a href="<%= post.reply_to.image.url(:original) %>">
              <%= image_tag post.reply_to.image.url(:thumb) %>
            </a>
          </div>
          <div class="pull-left tweet-margin">
            <p>
              <%= render_with_hashtags(post.reply_to.content).html_safe %>
            </p>
          </div>
          <div class="clearfix">

          </div>
        <% else %>
          <div class="tweet-margin">
            <p>
              <%= render_with_hashtags(post.reply_to.content).html_safe %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="panel-body bg-info">
    <strong><%= link_to post.user.visible_name, user_path(post.user.username) %></strong>
    <span><%= link_to "@#{post.user.username}", user_path(post.user.username) %></span>
    <span><%= display_date(post.created_at) %></span>
    <div>
      <% if post.image.exists? %>
        <div class="pull-left">
          <a href="<%= post.image.url(:original) %>">
            <%= image_tag post.image.url(:thumb) %>
          </a>
        </div>
        <div class="pull-left tweet-margin">
          <p>
            <%= render_with_hashtags(post.content).html_safe %>
          </p>
        </div>
        <div class="clearfix">

        </div>
      <% else %>
        <div class="tweet-margin">
          <p>
            <%= render_with_hashtags(post.content).html_safe %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <% if post.replies %>
    <ul class="list-group">
      <%= render partial: 'posts/reply', collection: post.replies %>
      <li class="list-group-item">
        <%= form_for Post.new, url: post_comment_path(post),
          html: { multipart: true } do |f| %>
          <div class="form-group no-bottom-margin">
            <%= f.text_area :content, class: 'form-control', placeholder: 'Your tweet' %>
          </div>
          <div class="form-group no-bottom-margin">
            <%= f.submit "Add comment", class: 'btn btn-primary pull-right' %>
            <%= f.label :image, 'Add image', class: 'btn btn-default btn-file pull-right' %>
            <%= f.file_field :image, class: 'hidden' %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
