<% comments ||= false %>
<% reply ||= false %>

<% if comments %>
  <div class="row">
    <div class="col-xs-12">
      <% if post.reply_to %>
        <%= render post.reply_to, reply: true %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <% if reply %>
      <span>In reply to:</span>
    <% end %>
    <strong><%= link_to post.user.visible_name, user_path(post.user.username) %></strong>
    <span><%= link_to "@#{post.user.username}", user_path(post.user.username) %></span>
    <span><%= display_date(post.created_at) %></span>
  </div>
</div>
<div class="row">
  <% if post.image.exists? %>
    <div class="col-xs-3">
      <a href="<%= post.image.url(:original) %>">
        <%= image_tag post.image.url(:thumb) %>
      </a>
    </div>
    <div class="col-xs-9">
      <p>
        <%= render_with_hashtags(post.content).html_safe %>
      </p>
    </div>
  <% else %>
    <div class="col-xs-12">
      <p>
        <%= render_with_hashtags(post.content).html_safe %>
      </p>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-12">
    <% if current_user.likes?(post) %>
      <%= link_to "Unlike", post_unlike_path(post), method: :delete %>
    <% else %>
      <%= link_to "Like", post_like_path(post), method: :post %>
    <% end %>
  </div>
</div>
<% if comments %>
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <% if post.replies %>
          <%= render post.replies %>
        <% end %>
        <div class="row">
          <div class="col-xs-12">
            <%= form_for Post.new, url: post_comment_path(post),
            html: { multipart: true } do |f| %>
            <%= f.label :content %>
            <%= f.text_area :content %>
            <%= f.label :image %>
            <%= f.file_field :image %>
            <%= f.submit "Add comment" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
