<%= form_for @post, url: {action: 'create', controller: 'posts'},
                    html: { multipart: true} do |f| %>
  <div class="form-group no-bottom-margin">
    <!-- <%= f.label :content %> -->
    <%= f.text_area :content, class: 'form-control', placeholder: 'Your tweet' %>
  </div>
  <div class="form-group">

    <%= f.submit "Add Tweet", class: 'btn btn-primary pull-right' %>
    <%= f.label :image, 'Add image', class: 'btn btn-default btn-file pull-right' %>
    <%= f.file_field :image, class: 'hidden' %>
    <div class="clearfix"></div>
  </div>
<% end %>

<% if @posts %>
  <%= render @posts, comments: true %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <p>
        There is nothing to show, start following some people.
      </p>
    </div>
  </div>
<% end %>
