<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <strong><%= activity.user.visible_name %></strong>
      <span><%= activity.activity_type %> at <%= activity.created_at.strftime("%B %e %k:%M") %></span>
      <strong><%= activity.post.author.visible_name %></strong>
      <span>@<%= activity.post.author.username %></span>
      <span><%= activity.post.created_at.strftime("%B %e %k:%M") %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= activity.post.content %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if !current_user.likes? activity.post and activity.post.author != current_user %>
        <%= link_to "Like", like_path(activity.post), method: :post%>

      <% end %>
    </div>
  </div>
</div>
